body{
   text-align: center ;
   background-image:linear-gradient(rgb(0, 242, 255) , rgb(0, 17, 255));
 height: 100vh;

}
#main{
    background-image:linear-gradient(rgb(0, 242, 255) , rgb(0, 17, 255));

   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50% , -50%);
   border-radius: 30px;
   padding: 20px ;
   width: 400px;
  

}
#title{
    font-size: 40px;
   font-weight: 50PX;
}
input{
    margin: 30px 30px;
    width: 120px;
    height: 40px;
    margin: 20px 20px;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 4px;
    font-family:serif;
    


}

#start{
    background-color: rgb(11, 222, 11);
    
}
#start:hover{
    background-color: rgb(101, 236, 101);
    transform: scale(1.1);
}
#stop{
    background-color: rgb(253, 4, 4);
}
#stop:hover{
    background-color: rgb(214, 79, 79);
    transform: scale(1.1);

}
#reset:hover{
    
    background-color: rgb(59, 63, 67);
    transform: scale(1.1);
}
#timer{
    border: 3px black;
    font-size: 30px;
    
   border-radius: 20px;
  
 
    
}

